.boxContiner {
  margin-top: 100px;
}
.boxBody {
  width: 100%;
}
.card {
  margin: auto;
  width: 600px;
  padding: 20px; 
  height: 580px;
  border: 5px solid #f5f5f5;
  margin-top: 20px;
  border-radius: 1pc;
  /* 	background: linear-gradient(0deg, rgba(179,229,252,1) 1%, rgba(41,182,246,1) 79%); */
  background-image: radial-gradient(
    circle at 56.16% 120.44%,
    #c6f3ff 0,
    #8cd5fe 25%,
    #3cb5f2 50%,
    #0095e6 75%,
    #0078dc 100%
  );
}

.profileImage {
  background-image: url('https://media.istockphoto.com/vectors/house-flat-icon-vector-illustration-vector-id1072185464?k=20&m=1072185464&s=612x612&w=0&h=CM_SfnMMl-jJ8AFHBa4b_V2LThEt4JIcPQfzUb9rMLM=');
  width: 230px;
  height: 230px;
  margin: auto;
  background-size: cover;
}
.nameFamily p {
  display: flex;
  justify-content: center;
  font-size: 20px;
  font-weight: bold;
  color: #f5f5f5;
  margin-top: 20px;
}
.nameFamily span {
  display: flex;
  justify-content: center;
  margin-top: 7px;
  font-size: 15px;
  font-weight: bold;
  color: #e6e6e6;
}
.numbers {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.socialMediaSingle {
  display: flex;
  flex-direction: column;
  width: 32%;
  text-align: center;
  color: white;
}
.socialMediaSingle span {
  font-weight: bold;
}
.socialMediaSingle p {
  font-size: 14px;
  padding: 2px;
}
.linkBtnk a {
  text-decoration: none;
  background: #fefefe;
  width: 100%;
  justify-content: center;
  display: flex;
  margin-top: 25px;
  color: #039be5;
  padding: 10px;
  border-radius: 1pc;
  font-size: 15px;
}
